# See https://scala-lang.org/blog/2022/07/18/secure-your-dependencies-on-github.html
# See https://github.com/marketplace/actions/sbt-dependency-submission
name: Update Dependency Graph
on:
  # push:
  #   branches:
  #     - master # default branch of the project
  schedule:
    - cron: "0 20 * * *"
  workflow_dispatch:
jobs:
  dependency-graph:
    name: Update Dependency Graph
    runs-on: ubuntu-latest # or windows-latest, or macOS-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java and Scala
        uses: olafurpg/setup-scala@v14
        with:
          java-version: openjdk@1.17.0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "22" # or whatever
      - name: Setup Scala.JS
        uses: japgolly/setup-scalajs@v1
      - name: Cache sbt
        uses: coursier/cache-action@v7
      - name: npm install
        run: npm install

      - uses: scalacenter/sbt-dependency-submission@v2
        with:
          working-directory: ./
          modules-ignore:
            root_3
            all_3
            did-experiments_3
            did-experiments_sjs1_3
            scala-did-docs_3
            did-demo_sjs1_3
          # did-demo_3
          # fmgp-webapp_sjs1_3
          # didexample_3
          # didexample_sjs1_3
          # fmgp-serviceworker_sjs1_3
          configs-ignore: test scala-tool scala-doc-tool

# githubGenerateSnapshot {"ignoredModules":["root_3", "all_3", "did-experiments_3", "did-experiments_sjs1_3", "scala-did-docs_3", "did-demo_sjs1_3"], "ignoredConfigs":["test", "scala-tool", "scala-doc-tool"]}
